*{
  margin: 0;
  padding: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app > section#vue1 {
  background-color: #B9E4DE;
  position: relative;
  width: 100vw;
  height: 100vh;
}

#app > section#vue1 > img{
  position: absolute;
}
