@font-face {
  font-family: 'Centrion';
  src: url('./fonts/centrion.ttf');
}

body {
  margin: 0;
  color: #2c3e50;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  position: relative;
  overflow: hidden;
}

.centrion {
  font-family: 'Centrion';
}

.warning--mobile {
  width: 100%;
  height: 100%;
  background-color: #111;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  font-size: 24px;
  color: #fff;
  z-index: 12;
}

.transition {
  width: 100%;
  height: 100vh;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &.smoke {
    position: absolute;
    transform: translateY(-50%);
    z-index: 1;
    img {
      object-fit: fill;
    }
  }
  &.space {
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .spaceship {
      width: 600px;
      height: 300px;
      position: absolute;
      z-index: 1;
      img {
        width: 100%;
      }
    }
  }
}

.screen-transition {
  width: 100%;
  height: 100vh;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 8;
  overflow: hidden;
  transform: translateY(100vh);
}

.timeline--wrapper {
  width: 50px;
  height: 100vh;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 15px;
  position: fixed;
  right: 0;
  z-index: 99;
  .timeline--tick {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .3s;
    opacity: 0;
    cursor: none;
    img {
      width: 100%;
    }
  }
}

.cursor {
  background-color: #FFF;
  border: #000 1px;
  border-radius: 50%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 98;
  overflow: hidden;
  color: #fff;
  cursor: none;
  .cursor-2{
    cursor: none;
    width: 0px;
    height: 0px;
    transition: all .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    &.big {
      // width: 100px;
      // height: 100px;
      
      color: #333;
      p {
        display: block;
      }
    }
    &.small {
      // width: 10px;
      // height: 10px;
      p {
        display: none;
      }
    }
  }
}

.flex {
  display: flex;
  &.items-center {
    align-items: center;
  }
  &.items-end {
    align-items: flex-end;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

figure {
  margin: 0;
}

.absolute {
  position: absolute;
}

.date {
  width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 20px;
  top: 20px;
  transform: translateY(-100px);
  z-index: 10;
  img {
    width: 100%;
    position: absolute;
  }
  p {
    margin: 0;
    position: relative;
    opacity: 0;
    transform: translate(-5%, 5%);
    transition: opacity .3s;
    font-size: 36px;
    font-family: 'Centrion';
  }
}

.subtitles--wrapper {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  z-index: 10;
  p {
    background-color: #000;
    padding: 5px 15px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    &.hidden {
      display: none;
    }
  }
}

.band {
  position: fixed;
  opacity: 0;
  z-index: 10;
  img {
    width: 100%;
    height: 100%;
  }
}

.band--top,
.band--bottom {
  width: 100%;
  left: 0;
}

.band--left,
.band--right {
  height: 100%;
}

.band--top {
  height: 18px;
  top: 0;
}

.band--bottom {
  height: 16px;
  bottom: 0;
}

.band--left {
  width: 20px;
  left: 0;
}

.band--right {
  width: 125px;
  right: 0;
}

.loader {
  width: 100%;
  height: 10px;
  background-color: #000;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 5;
}

.story--wrapper {
  height: 100vh;
  overflow: hidden;
}

.story--slide {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  &.intro {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .flex {
      grid-gap: 15px;
    }
    h1 {
      max-width: 733px;
      margin: -30px 0 15px;
      font-size: 72px;
      font-weight: 400;
      text-align: center;
      line-height: 1em;
      span {
        font-size: 44px;
        @media screen and (max-width: 800px) {
          font-size: 22px;
        }
      }
      @media screen and (max-width: 800px) {
        font-size: 32px;
      }
    }
    .side {
      width: 275px;
      &:first-child {
        margin-right: -50px;
        margin-bottom: 50px;
      }
      &:last-child {
        margin-left: -50px;
        margin-bottom: 50px;
      }
      img {
        width: 100%;
      }
    }
    .arche {
      width: 400px;
      img {
        width: 100%;
      }
    }
    .btn {
      width: 100%;
      max-width: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      img {
        width: 100%;
        position: absolute;
      }
      p {
        font-size: 20px;
        margin-top: 31px;
        z-index: 1;
      }
    }
    .aile {
      width: 300px;
      img {
        width: 100%;
      }
    }
    .footer{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      width: 90vw;
      .logo {
        img{
          max-height: 100px;
          &.gobelins{
            margin-top: -10px;
          }
        }
      }
      .casque{
        display: flex;
        flex-direction: row;
        img{
          margin-right: 20px;
          margin-top: 12px;
          height: 20px;
        }
      }
    }
  }
  &.slide-1 {
    overflow: hidden;
    filter: grayscale(0%);
  }
  &.slide-2 {
    z-index: 4;
    @for $i from 5 through 1 {
      .layer:nth-child(#{$i}) {
        transform: scale(1 - $i * 0.1);
      }
    }
  }
  &.slide-3 {
    background-color: #040404;
  }
  &.slide-5 {
    background-color: #BBE5DF;
  }
  &.slide-7 {
    margin-top: -32vh;
  }
  &.slide-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    .item {
      height: 100vh;
      background-color: #fff;
      flex: 1 1 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      p {
        font-size: 32px;
        opacity: 0;
        transition: 500ms;
      }
      &:hover {
        p {
          opacity: 1;
        }
      }
      img {
        width: 100%;
        max-width: 250px;
        max-height: 500px;
        object-fit: contain;
      }
    }
  }
  &.slide-9 {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    .plaque {
      width: 100%;
      max-width: 1000px;
      position: absolute;
      img {
        width: 100%;
      }
    }
    .artistes {
      width: 100%;
      max-width: 800px;
      display: flex;
      justify-content: space-between;
      position: relative;
      .artiste {
        width: 33%;
      }
    }
  }
  .layer {
    width: 100%;
    height: 100%;
    position: absolute;
    &.hidden {
      opacity: 0;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.wrapper-intro {
  width: 100%;
  height: 200vh;
  position: absolute;
  top: 0;
  z-index: 6;
}

.wrapper-concours {
  width: 100%;
  height: 300vh;
  background-color: #000;
  position: absolute;
  top: 0;
  z-index: 5;
}

.wrapper-plans {
  width: 200vw;
  height: 100vh;
  display: flex;
}

.wrapper-herbe {
  width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column-reverse;
  transform: translateY(-100vh);
}

.wrapper-usine {
  width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  z-index: 4;
}

.wrapper-objets {
  width: 100%;
  height: 200vh;
  position: absolute;
  z-index: 5;
}

.wrapper-space {
  width: 100%;
  height: 400vh;
  position: absolute;
  z-index: 3;
}
