@font-face {
  font-family: 'Centrion';
  src: url('./fonts/centrion.ttf');
}

body {
  margin: 0;
  color: #2c3e50;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.centrion {
  font-family: 'Centrion';
}

.transition {
  width: 100%;
  height: 100vh;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &.smoke {
    margin-top: -22vh;
    position: relative;
    z-index: 1;
    img {
      object-fit: fill;
    }
  }
}

.timeline--wrapper {
  width: 50px;
  height: 100vh;
  padding: 0 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 15px;
  position: fixed;
  right: 0;
  z-index: 99;
  .timeline--tick {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .3s;
    cursor: none;
    &.active {
      opacity: 1;
    }
  }
}

.cursor {
  width: 0px;
  height: 0px;
  background-color: #FFF;
  border: #000 1px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 98;
  transition: width 500ms, height 500ms;
  overflow: hidden;
  color: #fff;
  cursor: none;
  &.active {
    width: 15px;
    height: 15px;
  }
  &.big {
    width: 120px;
    height: 120px;
    color: black;
  }
  &.hover {
    width: 30px;
    height: 30px;
    color: #fff
  }
}

.flex {
  display: flex;
  &.items-center {
    align-items: center;
  }
  &.items-end {
    align-items: flex-end;
  }
}

.btn {
  width: 200px;
  height: 50px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

figure {
  margin: 0;
}

.absolute {
  position: absolute;
}

.nav--wrapper {
  width: 100%;
  padding: 75px 75px 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  .date {
    p{
      font-size: 44px;
      margin: 0;
      opacity: 0;
      transition: opacity .3s;
    }
  }
}

.subtitles--wrapper {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  z-index: 10;
  p {
    background-color: #000;
    padding: 5px 15px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    &.hidden {
      display: none;
    }
  }
}

.band--top,
.band--bottom,
.band--left,
.band--right {
  background-color: #fff;
  position: fixed;
  z-index: 10;
}

.band--top,
.band--bottom {
  width: 100%;
  height: 20px;
  left: 0;
}

.band--left,
.band--right {
  width: 20px;
  height: 100%;
}

.band--top {
  top: -20px;
}

.band--bottom {
  bottom: -20px;
}

.band--left {
  left: -20px;
}

.band--right {
  right: -20px;
}

.loader {
  width: 100%;
  height: 10px;
  background-color: #000;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 5;
}

.story--wrapper {
  height: 100vh;
  overflow: hidden;
}

.story--slide {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  &.intro {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .flex {
      grid-gap: 15px;
    }
    h1 {
      margin: 0 0 15px;
      font-size: 52px;
      font-weight: 400;
    }
    .side {
      width: 300px;
      &:first-child {
        margin-right: -50px;
        margin-bottom: 50px;
      }
      &:last-child {
        margin-left: -50px;
        margin-bottom: 50px;
      }
      img {
        width: 100%;
      }
    }
    .arche {
      width: 450px;
      img {
        width: 100%;
      }
    }
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      img {
        position: absolute;
      }
      p {
        font-size: 24px;
        z-index: 1;
      }
    }
    .aile {
      width: 350px;
      img {
        width: 100%;
      }
    }
  }
  &.slide-1 {
    overflow: hidden;
    filter: grayscale(0%);
    .layer {
      
    }
  }
  &.slide-2 {
    z-index: 4;
    @for $i from 5 through 1 {
      .layer:nth-child(#{$i}) {
        transform: scale(1 - $i * 0.1);
      }
    }
  }
  &.slide-3 {
    background-color: #040404;
  }
  &.slide-5 {
    background-color: #BBE5DF;
  }
  &.slide-7 {
    margin-top: -32vh;
  }
  &.slide-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    .item {
      height: 100vh;
      background-color: #fff;
      flex: 1 1 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      p {
        font-size: 32px;
        opacity: 0;
        transition: 500ms;
      }
      &:hover {
        p {
          opacity: 1;
        }
      }
      img {
        max-width: 250px;
        max-height: 500px;
        object-fit: contain;
      }
    }
  }
  .layer {
    width: 100%;
    height: 100%;
    position: absolute;
    &.hidden {
      opacity: 0;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.wrapper-intro {
  width: 100%;
  height: 200vh;
  position: absolute;
  top: 0;
  z-index: 6;
}

.wrapper-concours {
  width: 100%;
  height: 300vh;
  background-color: #000;
  position: absolute;
  top: 0;
  z-index: 5;
}

.wrapper-plans {
  width: 200vw;
  height: 100vh;
  display: flex;
}

.wrapper-herbe {
  width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column-reverse;
  transform: translateY(-100vh);
}

.wrapper-usine {
  width: 100%;
  height: 300vh;
  position: absolute;
  top: 0;
  z-index: 4;
}
